@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

@mixin display($dis: flex, $jus: center, $align: center, $flex: row) {
    display: $dis;
    justify-content: $jus;
    align-items: $align;
    flex-direction: $flex;
}

body {


    .border {
        background-image: url('./src/wallpaperflare.com_wallpaper1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        @include display;
        width: 100vw;
        height: 100vh;
        // border: 2px solid white;
        font-size: 16px;

        .box {
            font-family: 'Rye', cursive;
            font-size: 5em;
            text-align: center;
            text-shadow: 2px 2px 1px black, 4px 2px 1px black,
                6px 2px 1px black;
            font-weight: 600;
            text-transform: uppercase;
            @include display($flex: column);
            width: 85%;
            height: 90%;
            color: rgb(29, 67, 235);
            // border: 3px solid black;
            animation: colors infinite alternate;
            animation-duration: 4s;
            transition: 0.8s;

            p {
                padding: 15px;
                margin: 15px;
            }
        }

        @keyframes colors {
            0% {
                color: red;
                transform: scale(1.1);
            }

            25% {
                transform: scale(1.2);
                color: gold;
            }

            50% {
                transform: scale(1.3);
                color: purple;
            }

            75% {
                transform: scale(1.4);
                color: orchid;
            }

            100% {
                transform: scale(1.5);
                color: orangered;
            }

        }

        @media(max-width:1050px) {
            font-size: 14px;

            .box {
                width: 90%;
            }
        }
    }


    .border1 {
        @include display;

        width: 100vw;
        // height: 100vh;
        // border: 2px solid white;
        font-size: 16px;
        background: radial-gradient(rgb(241, 231, 231), rgb(220, 206, 206), rgb(204, 170, 170));
        background-image: url('./src/wallpaperflare.com_wallpaper.jpg');
        background-size: cover;
        background-repeat: no-repeat;

        .box1 {
            width: 85%;
            // height: 85%;
            @include display($jus: space-evenly);
            flex-wrap: wrap;
            // border: 2px solid black;
            gap: 20px;

            .img1 {

                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img2 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img3 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img4 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img5 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img6 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img7 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img8 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img9 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img10 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img11 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img12 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img13 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img14 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img15 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .img16 {
                width: 350px;
                height: 300px;
                cursor: pointer;
                transition: 1.2s;

                &:hover {
                    box-shadow: 2px 2px 2px 2px black, 4px 2px 2px 2px black,
                        6px 2px 2px 2px black;
                }

                @media(max-width:1180px) {
                    width: 400px;
                }

                @media(max-width:970px) {
                    width: 650px;
                    height: 600px;
                }
            }

            .selectimg {
                transform: 0.8s;
                transform: scale(1.4);
            }
        }
    }

}